/**
CONTENTS:
Body, fonts, containers, buttons, images, footer
********************************** BODY **/
body{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 22px;
 color: white;
 background-size: 100%;
 background-color: black;
 background-image: url(img/coffee1.jpg);
 background-repeat:no-repeat;
 background-position: top;
 background-attachment: fixed;
 background-size: cover;
}
/******************************** FONTS */
@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell-Regular.woff2') format('woff2'),
        url('fonts/Cantarell-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Kaushan';
    src: url('fonts/Kaushan.woff2') format('woff2'),
        url('fonts/Kaushan.woff') format('woff');
}
h1{
  font-family: 'Kaushan';
  text-align: center;
  font-size: 60px;
  transform: rotate(-10deg);
}
h2{
  font-family: 'Kaushan';
  font-size: 40px;
  color: white;
}
h3{
  font-family: 'Kaushan';
  font-size: 30px;
  color: lightgray;
  text-align: center;
}
h4{
  font-family: 'Kaushan';
  font-size: 30px;
    color: lightgray;
}
ul li {
  display: inline;
}
#errors{
  color:red;
}
#pwd{
  font-size: 18px;
  color:lightgray;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: lightgray;
}
a:hover{
  color: #a2abba;
}
nav h1{
  font-size: 24px;
}
p{
  color:lightgray;
  font-size: 18px;
}
#current{
  color: #a2abba;
}
#coffeeSelection2 p {
  text-align: left;
  color: white;
  font-size: 25px;
  padding-left: 50px;
}
#coffeeSelection2 h4{
  color: white;
  font-size: 30px;
  text-align: center;
}
/***************************  CONTAINERS */
#logo{
  display:inline-block;
}
header{
  text-align: center;
  width: 100%;
  font: 'Cantarell';
  margin-bottom: 5%;
}
.container1{
  min-height: 0;
  padding: 2%;
  width:30%;
  cursor: pointer;
  margin: auto;
  color: black;
  text-align: center;
}
.container2{
  justify-content: center;
  display: inline-flex;
  width:100%;
  cursor: pointer;
  color: black;
  text-align: center;
  background-color: white;
}
.login, .signup, .forgotpwd {
  padding: 5% 2% 8% 2%;
  display:none;
  background-color: white;
}
#nav {
  width: 100%;
  float left;
  display: flex;
}
#coffeeSelection{
  margin-top: 100px;
  width:50%;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#coffeeSelection2{
  color:white;
  background-color:#e1e8e5;
  margin-top: 100px;
  width:25%;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
fieldset{
  border: none;
}
#option{
  display:inline-flex;
  width:100%;
  float:left;
}

/**************************** BUTTONS */
.btn-group{
  width: 100%;
  display:inline-block;
  text-align: center;
  cursor: pointer;
}
.btn-group button {
    background: none;
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
    width: 180px;
    text-align: center;
    font-size: 22px;
    margin: 2px;
}
.btn-group button:hover {
    color: lightgray;
    background-color:rgba(255, 255, 255, 0.8);
}
#btn2{
  background-color: lightgray;
}
#btn3{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:none;
  color:lightgray;
  margin-top: 100px;
}
#btn3:hover{
  color: lightgray;
}
#nav button{
  border: none;
  color: lightgray;
  padding: 1%;
  width:20%;
  background: white;
}

/***************************** IMAGES */
#logo img{
  width:50px;
  height:50px;
}
header img{
  width:8%;
}
nav img{
  float:right;
  width:4%;
  padding:1% 4% 0 0;
}
/***************************** FOOTER */
footer{
  margin-top: 50px;
  color:lightgray;
  width: 100%;
  text-align: center;
  font-size: 14px;
  bottom: 0;
}
