/**
CONTENTS:
Body, fonts, containers, buttons, images, footer
********************************** BODY **/
body{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 22px;
 color: white;
 height:100%;
 margin:0;
 background-size: 100%;
 background-color: black;
 background-image: url(img/coffee5.jpg);
 background-repeat:no-repeat;
 background-position: top;
 background-attachment: fixed;
 background-size: cover;
}
#loggedin{
background-image: url(img/coffee5.jpg);
background-repeat:no-repeat;
background-position: top;
background-attachment: fixed;
background-size: cover;
}
/******************************** FONTS */
@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell-Regular.woff2') format('woff2'),
        url('fonts/Cantarell-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Kaushan';
    src: url('fonts/Kaushan.woff2') format('woff2'),
        url('fonts/Kaushan.woff') format('woff');
}
h1{
  font-family: 'Kaushan';
  text-align: left;
  font-size: 60px;
  transform: rotate(-10deg);
}
h2{
  font-family: 'Kaushan';
  font-size: 40px;
  color: white;
}
h3{
  font-family: 'Kaushan';
  font-size: 35px;
  margin: 10px 0px;
  color: white;
  text-align: center;
}
h4{
  font-family: 'Kaushan';
  font-size: 30px;
  margin: 10px 0px;
  color: white;
}
#errors{
  color:red;
}
#pwd{
  font-size: 18px;
  color:lightgray;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: lightgray;
}
a:hover{
  color: #a2abba;
}
nav h1{
  color: black;
  font-size: 20px;
  line-height: 20px;
}
nav h1:hover{
  color:#a2abba;
}
p{
  font-size: 18px;
}
#current{
  color: black;
}
#coffeeSelection2 p, #coffeeSelection3 p {
  text-align: left;
  color: #303030;
  font-size: 25px;
  padding-left: 50px;
}
#coffeeSelection h4, #coffeeSelection2 h4, #coffeeSelection3 h4{
  color: #303030;
  font-size: 30px;
  text-align: center;
}
#options li{
  color: white;
}
#coffeeSelection2 h3{
  text-align: center;
}
nav a{
  color: black;
  padding-left: 4%;
  font-size: 25px;
}
#special h3{
  font-size: 25px;
  margin: 0px;
}
/***************************  CONTAINERS */

#logo{
  width:100%;
  display:inline-flex;
}
header{
  text-align: center;
  width: 100%;
  font: 'Cantarell';
}
/** login/signup **/
.container1{
  min-height: 0;
  padding: 2%;
  width:30%;
  cursor: pointer;
  margin: auto;
  margin-bottom: 0;
  color: black;
  text-align: center;
}
/** bkground menu page **/
.container2{
  justify-content: center;
  display: inline-flex;
  width: 100%;
  max-height: 5%;
  color: black;
  text-align: center;
}
.genContent{
  justify-content: center;
  text-align: center;
  color: black;
}
/** bkground menu page **/
.login, .signup, .forgotpwd {
  padding: 5% 2% 8% 2%;
  display:none;
  background-color: white;
}
.coffeeAdditions{
  padding: 0px 10%;
  margin: 20px 0px;
  text-align: left;
}
.coffeeAdditions input[type=checkbox]{
  float: right;
  width: 18px;
  height: 18px;
}
.coffeeAdditions input[type=number]{
  float: right;
  width: 50px;
  height: 18px;
  text-align: center;
}
.coffeeAdditions select{
  background-color: white;
  text-align: left;
  width: 102%;
  font-size: 18px;
  padding: 2% 5% 2% 5%;
  border: 1px solid lightgray;
}
nav {
  margin:0;
  background-color: #e6c59a;
  width: 100%;
  float left;
  display: flex;
}
/** select coffee options box **/
#coffeeSelection{
  color: #303030;
  background-color:#e1e8e5;
  margin-top: 100px;
  width:28%;
  margin: 0px 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 30px;
}
#coffeeSelection2{
  color: #303030;
  background-color:#e1e8e5;
  margin-top: 100px;
  width: 28%;
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 30px;
}
#coffeeSelection3{
  color: #303030;
  background-color:#e1e8e5;
  margin-top: 100px;
  width:34%;
  margin: 0px 4%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-bottom: 30px;
}
#coffeeTypes{
  margin: 0px;
  float:left;
}
#coffeeTypes label {
    float:left;
    width:100%;
    margin: 2px 0px;
    background-color:#EFEFEF;
    overflow:none;
}
#coffeeTypes label span {
    text-align:left;
    padding: 0 10%;
    font-size: 32px;
    line-height: 60px;
    height: 60px;
    display:block;
}

#coffeeTypes label input {
    position:absolute;
    top:-20px;
}

#coffeeTypes input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}
#options{
  text-align: center;
  width:200px;
  background-color: #e1e8e5;
}
#orderItems{
  display: flexbox;
  margin: 0 7.5%;
  background-color: lightgrey;
  border: 1px solid darkgrey;
  border-radius: 2px;
  overflow-y: scroll;
  width: 85%;
  height: 200px;
}
.orderItem{
  background-color: darkgrey;
  font-size: 10px;
  text-align: left;
  box-sizing: border-box;
  padding-left: 10px;
  width: 100%;
  height: 35px;
  line-height: 35px;
  margin: 5px 0;
}
.orderItem button{
  float: right;
  margin: 3.5px;
  width: 28px;
  height: 28px;
  background-color: #eb4034;
  color: #362a29;
  border-radius: 50%;
  border: 2px solid #362a29;
}
/**************************** BUTTONS */
.btn-group{
  width: 100%;
  display:inline-block;
  text-align: center;
  cursor: pointer;
}
.btn-group button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  width: 180px;
  text-align: center;
  font-size: 22px;
}
.btn-group button:hover {
  color: lightgray;
  background-color:rgba(255, 255, 255, 0.8);
}
#btn2{
  background-color: lightgray;
}
#btn3{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:none;
  color:lightgray;
  border-radius:1.5px;
}
#btn3:hover{
  color: lightgray;
}
#special{
  width:100%;
  text-align: center;
  background-color: #040812;
  padding: 1% 0 4% 0;
  margin-bottom: 25px;
  opacity:0.7;
}
#specialSpan{
  font-size: 21px;
}
nav button{
  border: none;
  color: black;
  padding: 1%;
  width:20%;
  background: #e6c59a;
  border-radius: 0.9;
}
/************************ DROPDOWN */
.coffeeSize {
    font-size: 18px;
    padding: 2% 5% 2% 5%;
    background-color: #e1e8e5;
    background-image: url('img/dropdownarrow.png');
    background-repeat: no-repeat;
    background-position: 94% 50%;
    background-size: 5%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid lightgray;
}
/***************************** IMAGES */
nav img{
  width:25px;
  height:25px;
  margin: auto 2%;
}
nav img:hover{
  opacity:0.6;
  cursor:pointer;
}
header img{
  width:8%;
}
/***************************** FOOTER */
footer{
  bottom: 0;
  margin-top: 150px;
  color:lightgray;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
span{
  display: block;
}
/**************************** Tables */
#orderHistory{
  margin: 0 2%;
  padding: 2% 0;
}
table {
  padding: 5%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-radius: 3px;
  width: 100%;
}
th {
  color: white;
  background-color: darkgrey;
}
td {
  background-color: white;
}
td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
