/**
CONTENTS:
Body, fonts, containers, buttons, images, footer
********************************** BODY **/
body{
 font-family: Arial, Helvetica, sans-serif;
 font-size: 22px;
 color: white;
 height:100%;
 margin:0;
 background-size: 100%;
 background-color: black;
 background-image: url(img/coffee1.jpg);
 background-repeat:no-repeat;
 background-position: top;
 background-attachment: fixed;
 background-size: cover;
}
#loggedin{
background-image: url(img/coffee5.jpg);
background-repeat:no-repeat;
background-position: top;
background-attachment: fixed;
background-size: cover;
}
/******************************** FONTS */
@font-face {
    font-family: 'Cantarell';
    src: url('fonts/Cantarell-Regular.woff2') format('woff2'),
        url('fonts/Cantarell-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Kaushan';
    src: url('fonts/Kaushan.woff2') format('woff2'),
        url('fonts/Kaushan.woff') format('woff');
}
h1{
  font-family: 'Kaushan';
  text-align: left;
  font-size: 60px;
  transform: rotate(-10deg);
}
h2{
  font-family: 'Kaushan';
  font-size: 40px;
  color: white;
}
h3{
  font-family: 'Kaushan';
  font-size: 35px;
  color: white;
  text-align: center;
}
h4{
  font-family: 'Kaushan';
  font-size: 30px;
  color: white;
}
ul li {
  display: inline;
}
#errors{
  color:red;
}
#pwd{
  font-size: 18px;
  color:lightgray;
}
a{
  cursor: pointer;
  text-decoration: none;
  color: lightgray;
}
a:hover{
  color: #a2abba;
}
nav h1{
  color:lightgray;
  font-size: 24px;
}
nav h1:hover{
  color:#a2abba;
}
p{
  color:white;
  font-size: 18px;
}
#current{
  color: #a2abba;
}
#coffeeSelection2 p {
  text-align: left;
  color: white;
  font-size: 25px;
  padding-left: 50px;
}
#coffeeSelection2 h4{
  color: white;
  font-size: 30px;
  text-align: center;
}
#options li{
  color: white;
}
#coffeeSelection2 h3{
  text-align: center;
}
nav a{
  padding-left: 4%;
}

/***************************  CONTAINERS */

#logo{
  width:100%;
  display:inline-flex;
}
header{
  text-align: center;
  width: 100%;
  font: 'Cantarell';
}
/** login/signup **/
.container1{
  min-height: 0;
  padding: 2%;
  width:30%;
  cursor: pointer;
  margin: auto;
  margin-bottom: 0;
  color: black;
  text-align: center;
}
/** bkground menu page **/
.container2{
  justify-content: center;
  display: inline-flex;
  width:100%;
  cursor: pointer;
  color: black;
  text-align: center;
}
.genContent{
  justify-content: center;
  text-align: center;
}
/** bkground menu page **/
.login, .signup, .forgotpwd {
  padding: 5% 2% 8% 2%;
  display:none;
  background-color: white;
}
nav {
  margin:0;
  background-color: white;
  width: 100%;
  float left;
  display: flex;
}
/** select coffee options box **/
#coffeeSelection{
  margin-top: 100px;
  width:50%;
  margin: 5%;
}
#coffeeSelection2{
  color:white;
  background-color:#e1e8e5;
  margin-top: 100px;
  width:25%;
  margin: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
fieldset{border: none;}
#options{
  text-align: center;
  width:200px;
  background-color: #e1e8e5;
}
/**************************** BUTTONS */
.btn-group{
  width: 100%;
  display:inline-block;
  text-align: center;
  cursor: pointer;
}
.btn-group button {
  background: none;
  border: 1px solid white;
  color: white;
  padding: 10px 20px;
  width: 180px;
  text-align: center;
  font-size: 22px;
}
.btn-group button:hover {
  color: lightgray;
  background-color:rgba(255, 255, 255, 0.8);
}
#btn2{
  background-color: lightgray;
}
#btn3{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border:none;
  color:lightgray;
  margin-top: 50px;
  border-radius:1.5px;
}
#btn3:hover{
  color: lightgray;
}
nav button{
  border: none;
  color: lightgray;
  padding: 1%;
  width:20%;
  background: white;
  border-radius: 0.9;
}
/************************ DROPDOWN */
.coffeeSelect, .coffeeSize {
    font-size: 18px;
    color: ;
    padding: 2% 5% 2% 5%;
    width: 40%;
    background-color: #e1e8e5;
    background-image: url('img/dropdownarrow.png');
    background-repeat: no-repeat;
    background-position: 80% 50%;
    background-size: 5%;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: 1px solid lightgray;
}
/***************************** IMAGES */
nav img{
  width:50px;
  height:50px;
  padding: 2% 2%;
}
nav img:hover{
  opacity:0.6;
  cursor:pointer;
}
header img{
  width:8%;
}
/***************************** FOOTER */
footer{
  bottom: 0;
  margin-top: 150px;
  color:lightgray;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
span{
  display: block;
}
